*{}

body{
	background-color: black;
	font-family: 'Heebo', sans-serif;
	color: #fff;
}
p{
}

li{
}
a{
	color: chartreuse;

}
h1{
	font-weight: 900;
}
.links{
	display: flex;
	margin: 5em auto;
	/*flex-wrap: wrap;*/
	
}

body.loading{
	overflow: hidden;
}


.links a{
	font-size: 2em;
	text-decoration: none;
	color: inherit;
	background-color: #3737376e;
	padding: 15px;
	min-width: 200px;
	width: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 300px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;


}

.showcase h2{
	font-weight: bold;
	position: absolute;

}
.showcase span{
	margin-top: auto;
	opacity: 0;
	font-size: 1rem;

}
.showcase:hover{
	background-color: #aaa;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.2s ease;

}

.showcase:hover::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(0deg, black, transparent);
	width: 100%;
	height: 100%;
}

.showcase:nth-child(1):hover{
	background-image: url('../img/screenshots/burke.jpg');
}
.showcase:nth-child(2):hover{
	background-image: url('../img/screenshots/mjs.jpg');
}
.showcase:nth-child(3):hover{
	background-image: url('../img/screenshots/fundamentum.jpg');
}
.showcase:nth-child(4):hover{
	background-image: url('../img/screenshots/pst.jpg');
}

.showcase:hover h2{
	opacity: 0;
	transition: all 0.2s ease;
}

.showcase:hover span{
	opacity: 1;
	color: #fff;
	z-index: 1;
	transition: all 0.2s ease;
}

.link .showcase{
	padding: 1em
}
.header{
	height: 100vh;
	color: #fff;
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top:1em;
}

.bg{
	height: 60vh;
	overflow: hidden;
	position: relative;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	mix-blend-mode: luminosity;
}
.bg h1{
	position: absolute;
	z-index: 100;
}

.bgCover{
	height: 100%;
	width: 100%;
	background-color: #000;
	position: absolute;
	z-index: 1;
	
}
.content{
	padding: 2em;
	color: #fff;

}

.content:hover{
	color: #eee;
	transition: all 0.1s ease;
}

.swiper-container{
	margin-top: 5em;
}

.heading{
	margin-bottom: 3em;
	position: relative;
}

.heading h2{
	font-weight: 900;
	font-size: 5vw;
	
}


.heading .navigation{
	position: relative;
}

.wrapper{
	margin-top: 2em;
	position: relative;
	height: 100%;
	margin-bottom: 5em;
}

.terminal{
	color: chartreuse;
}

.swiper-button-next, .swiper-button-prev{
	color: chartreuse;
}

.rotateText{
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 20;
	width: 30%;
	height: auto;
	
}

.rotateText:hover{
	opacity: 0.5;
	cursor: pointer;
}

[data-scroll-dir-y="1"] .rotateText h2{
	animation: rotater 10s linear infinite;
}

[data-scroll-dir-y="-1"] .rotateText h2{
	animation: rotater 10s linear infinite reverse;
}

[data-scroll="out"]{
	opacity: 0.3;
	transition: opacity 0.5s; 
}

/*scrolling down*/

[data-scroll-dir-y="1"] [data-scroll="in"]{
	opacity: 1;
	transition: opacity 0.5s;

}

/*scrolling up*/

[data-scroll-dir-y="-1"] [data-scroll="in"]{
	opacity: 1;
	transition: opacity 0.5s;
}

.contact{
	padding: 1em 0;
}

.contact a{
	font-family: monospace;
}


.gong{
	margin: 5em auto;
}


.bg_vid{
	overflow: hidden;
	width: 100%;
	margin: 2em auto;
}

.collab{
	margin: 3em auto;
}

.cn{
	font-family: 'Noto Sans SC', sans-serif;
}

video{
	width: 100%;
	object-fit: cover;
	object-position: center;
	height: 50vh;
}

@keyframes rotater{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}